.div {
    background-color: mintcream;
    width: 300px;
    border: 25px medium blue;
    padding: 25px;
    margin: 25px;
}

.second{
	font-family: Andale Mono;

}

.firstimage{
	width: 1060px;
	height: 1000px;
}

.secondimage{
	width: 1060px;
	height: 1000px;
}

.thirdimage{
	width: 1060px;
	height: 1000px;
}

.fourthimage{
	width: 1060px;
	height: 1000px;
}

.fifthimage{
	width: 1060px;
	height: 1000px;
}
