body {  
	 font-family: arial;
	 font-size: 20px;
	 line-height: 28px;
	 margin: 0;
	 padding: 50px;
	 letter-spacing: 5px;
 } 

	 

.about {
	background: 000;
	 color:#fff;
} 
.about a{
	color:#fff;
} 

 h1, h2{
       font-size: 20px;
       margin: 0;
       font-weight: normal; 
 } 

 a{ color: #000;} 


 	    
 img{  
 	 margin-bottom: 40px;
 } 
 
 div{ 
 	 margin-bottom: 40px;
 } 
 ul{ 
 	 margin:0;
 } 

